

.cart-container{
    position: absolute;
    right: 0;
    top: 105px;
    
    border-radius: 10px;
    color: black;
    width: 370px;
    max-width: 100%;
    height: 490px;
    padding: 50px 20px;
    box-shadow: 0 0  0 100vw rgba(0,0,0,.5);
    background: white;
    z-index: 95;
    margin-right: 70px;
    margin-left: auto;
    @media only screen and (max-width: 400px) {
       margin-right: 0;
    } 
    &__header{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: flex-end;
    }
    &__title{

    }
    &__remove-btn{
        border: none;
        outline: none;
        text-decoration: underline;
        background: var(--white-color);
        color: var(--dark-beige);
    }
    &__items{
       height: 65%;
       display: flex;
       flex-direction: column;
       overflow: scroll;
       margin: 18px auto;
    }
    &__total{
        display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    &__checkout-btn{
       width: 100%;
       margin: 15px 0 0 0;
       font-size: 16px;
       height: 48px;
       color: var(--white-color);
       background: var(--dark-beige);
       border: none;
       &:active{
           background: var(--light-beige);
       }
    }
    
}