

.checkout{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto 0 auto;
    max-width: 100%;
    position: relative;
    &__back-btn{
      text-transform: uppercase;
      color: var(--very-dark-gray);
      cursor: pointer;
    }
    &__containter{
        box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         padding: 0 30px 100px 30px;
         margin: 30px 0;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         @media only screen and (min-width: 780px) {
            flex-direction: row;
            justify-content: space-between;
         } 
    }
    &__form{
        @media only screen and (min-width: 780px) {
            flex-basis: 3;
            width: 100%;
           
         } 
        
    }
    &__form-title{
        margin-top: 50px;
        word-wrap: break-word;
         @media only screen and (min-width: 700px) {
            padding: 0 0 0 25px ;
         } 
    }
    &__form-section{
        margin: 30px 0 -30px 0;
       font-size: 20px;
       color: var(--dark-beige);
       
       @media only screen and (min-width: 700px) {
        padding: 0 30px;
       } 
    }
    &__form-billing-detail{
          margin: 90px 0 0 0;
    }
    &__form-section-pair{
        display: flex;
        flex-direction: column;
        

        @media only screen and (min-width: 700px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 30px;
        } 
    }
    &__form-section-single-short{
        max-width: 100%;
        @media only screen and (min-width: 700px) {
            width: 56%;
            padding: 0 30px;
        } 
    }
    &__form-section-single-long{

          max-width: 100%;
          
        @media only screen and (min-width: 700px) {
            padding: 0 0 0 30px;
            width: 105%;
            max-width: 105%;
        } 
    }
    &__summary{
     max-width: 100%;
    }
    &__input{
        width: 90%;
        height: fit-content;
        margin: 50px 20px 0 0 ;
        max-width: 100%;
        
        
    }
    &__input-label{
        
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    &__input-label-text{

    }
    &__input-label-error{
       
       font-size: 13px;
       color: red;
       &--hiden{
           display: none;
       }
    }
    &__input-field{
       width: 100%;
       height: 56px;
       margin: 15px 0 0 0;
       padding: 5px 15px;
       border-radius: 5px;
       border: 3px solid var(--medium-light-gray);
       font-size: 18px;
       font-weight: bold;
       &:focus{
        border: 3px solid var(--dark-beige);
       }
       &--error{
        border: 3px solid red;
       }
    }
    &__form-payment{
        display: flex;
        flex-direction: column;
        
        @media only screen and (min-width: 600px) {
            flex-direction: row;
        } 
    }
    &__form-payment-text{
        flex-basis: 1;
        width: 100%;
    }
    &__form-payment{
        flex-basis: 1;
        width: 100%;
        @media only screen and (min-width: 680px) {
        margin: 50px 0 0 30px ;
      } 
    }
    &__payment{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0 ;
        max-width: 92%;
        @media only screen and (min-width: 600px) {
            flex-direction: row;
            
            justify-content: space-between;
            margin: 50px auto 0 auto;
            align-items: flex-start;
        } 
      
    }
    &__payment-choices-title{
        flex-basis: 1;
        width: 100%;
        margin-bottom: 20px;
        
    }
    &__payment-choices-container{
        flex-basis: 1;
        width: 90%;
        @media only screen and (min-width: 600px) {
            width: 100%;
        } 
    }
    &__payment-choices-elem{
        width: 100%;
       height: 56px;
       margin: 15px 0 0 0;
       padding: 5px 15px;
       border-radius: 5px;
       border: 3px solid var(--medium-light-gray);
       display: flex;
       align-items: center;
        &:focus{
            border: 3px solid var(--dark-beige);
        }
    }
    &__payment-choices-elem-box{
        width: 25px;
        height: 25px;
        margin: 0 20px 0 0;
        filter: hue-rotate(183deg) brightness(100%);
    }
    &__summary{
        height: 612px;
        width: 90%;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 780px) {
            flex-basis: 1;
            width: 40%;
            border-left: 2px solid var(--medium-light-gray);
            border-bottom:  2px solid var(--medium-light-gray);
        } 
    }
    &__summary-items{
        height: 600px;
    }
    &__summary-price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        width: 95%;
    }
    &__summary-total{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        width: 95%;
        h5{
            color: var(--dark-beige);
        }
    }
    &__summary-cta{
        width: 95%;
        height: 48px;
        margin: 10px auto;
        color: white;
        background-color: var(--dark-beige);
        cursor: pointer;
        border: none;
        font-size: 18px;
        &:hover{
            background-color: var(--light-beige);
        }
    }
    &__summary-item-container{
        overflow-y: auto;
       max-width: 90%;
       display: flex;
       justify-content: space-between;
       margin: 5px auto;
       align-items: center;
       @media only screen and (max-width: 780px) {
        max-width: 100%;
       } 
    }
    &__summary-item-name{
       display: flex;
       align-items: center;
    }
    &__summary-item-image{
       width: 40px;
       height: 40px;
    }
    &__summary-name-title{
       font-size: 13px;
       padding-left: 5px;
       word-break: break-all;
    }
    &__summary-item-amount{
        font-size: 12px;
    }
    &__modal{
        position: absolute;
        height: fit-content;
        
        width: 540px;
        max-width: 100%;
        margin: 0 auto;
        box-shadow: 0 0  0 1000vw rgba(0,0,0,.5);
        background: white;
        z-index: 999;
        border-radius: 10px;
        padding-left: 40px;
        padding-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__modal-checkmark{
        width: 64px;
        height: 64px;
       color: white;
       background-color: var(--dark-beige);
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 30px;
       margin: 50px 0 20px 0;
    }
    &__modal-title-1{
       
       font-size: 30px;
       width: 100%;
    }
    &__modal-title-2{
       margin-top: -10px;
        font-size: 30px;
        width: 100%;
        margin-bottom: 20px;
     }
    &__modal-confirmation{
       font-size: 16px;
       color: var(--very-dark-gray);
       margin: 10px 0 30px 0;
    }
    &__modal-brief-summary{
       display: flex;
       flex-direction: column;
       max-width: 100%;
       border-radius: 10px;
       @media only screen and (min-width: 580px) {
        max-width: 90%;
        flex-direction: row;
       } 
    }
    &__modal-items{
       display: flex;
       flex-direction: column;
       flex-basis: 1;
       width: 90%; 
       font-size: 15px;
       max-width: 100%;
        background-color: var(--medium-light-gray);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 30px 20px 30px 0;
        @media only screen and (min-width: 580px) {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            padding: 30px 20px 30px 0;
        } 
    }
   
    &__modal-items-top-info-amount{
       width: fit-content;
       margin-left: 50px;
       align-self: flex-start;
    }
    &__modal-items-top-others{
        font-size: 15px;
        text-align: center;
        position: relative;
        padding-top: 10px;
        margin-top: 5px;
        max-width: 100%;
        &::after{
            content: "";
            border-top: 1px solid var(--very-dark-gray);
            width: 80%;
            position: absolute;
            top: 0;
            left: 20px;
            margin: 0 auto;

        }
    }
    &__modal-total{
       color: white;
       background-color: var(--black-color);
       flex-basis: 1;
       max-width: 90%;
       border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px 0 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 580px) {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            
            padding: 30px 20px 30px 0;
            max-width: 100%;
        } 
    }

    &__modal-finalize{
        width: 444px;
        max-width: 50%;
        margin: 50px auto 0 auto;
        font-size: 16px;
        height: 48px;
        color: var(--white-color);
        background: var(--dark-beige);
        border: none;
        cursor: pointer;
        &:active{
            background: var(--light-beige);
        }
        @media only screen and (min-width: 780px) {
            max-width: 100%;
        } 
    }
    &__modal-items-top{
       display: flex;
       align-items: center;
       justify-content: flex-start;
    }
    &__modal-items-top-img{
       width: 50px;
       height: 50px;
    }
    &__modal-items-top-info{

    }
    &__modal-total-title{
        width: 80%;
        margin: 0 auto;
        color: var(--medium-light-gray);
    }
    &__modal-total-grand{
        width: 80%;
        margin: 8px auto 0 auto;
    }
    
        
    
}
.checkout__payment-choices-elem:focus-within {
    border: 3px solid var(--dark-beige);
}
.red-border{
    border: 3px solid red;
}
.red-title{
    color: red;
}