
.product-preview{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 50px auto;
    @media only screen and (min-width: 700px) {
           flex-direction: row;
           width: 85%;
    } 
   &__img-container{
        width: 100%;
        height: 350px;
        background: var(--medium-light-gray);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   &__img{
       width: auto;
       height: 100%;
       max-width: auto;
       max-height: 100%;
      @media only screen and (min-width: 700px) {
        width: 330px;
        height: 100%;
        max-width: 330px;
        max-height: 100%;
       } 
   }
   &__content{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
       @media only screen and (min-width: 700px) {
        
        justify-content: center;
        align-items: center;
       } 
       
   }
   &__new-labe{
      color: var(--dark-beige);
      margin: 30px 0 0 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      @media only screen and (min-width: 700px) {
        text-align: start;
        width: 80%;
        
       } 
   }
   &__name{
       margin: 30px auto;
       text-align: center;
       @media only screen and (min-width: 700px) {
        text-align: start;
        margin: 30px 0;
        width: 80%;
        
       } 

   }
   &__info{
       padding: 0 30px;
       color: var(--dark-gray);
       text-align: center;
       @media only screen and (min-width: 700px) {
        text-align: start;
        width: 80%;
        padding: 0;
       } 
       
   }
   &__cta-container{
        
    
        @media only screen and (min-width: 700px) {
            text-align: start;
            width: 80%;
            
        } 
   }
   &__cta-btn{
      margin: 30px auto;
      background: var(--dark-beige);
      color: var(--white-color);
      border: none;
      height: 50px;
      width: 160px;
      &:hover,&:active{
          background: var(--light-beige);
      }
     
      
   }

}