
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}


@import "./variables";
@import "./header";
@import "./cart";
@import "./home";
@import "./info";
@import "./footer";
@import "./productpreview";
@import "./productdetail";
@import "./checkout";

//Shared styles

.hide{
    display: none;
}

.section-banner{
    height: 250px;
    width: 100%;
    max-width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    flex-direction: column;
     @media only screen and (min-width: 700px) {
        flex-direction: row; 
    } 
    
}
.row-reverse{
    flex-direction: column;
    @media only screen and (min-width: 700px) {
        flex-direction: row-reverse;
    } 
    
}
.link-cursor{
    cursor: pointer;
}

html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }